<!doctype html>
<html>
  <head>
    <title>Socket.IO chat</title>
    
    <script src="https://cdn.socket.io/socket.io-1.3.5.js"></script>
    <script src ='https://code.jquery.com/jquery-2.1.4.js'></script>
    <script src="/js/samchat.js"></script>
    <link rel="stylesheet" href="./css/styles.css">

  </head>
  <body>
    <h1>SamChat</h1>
    <ul id="messages"></ul>
    <p>Please enter your name and a message</p>
    <form action="">
      <label for="name">Name:</label>
      <input id="name" autocomplete="off" />
      <input id="m" autocomplete="off" />
      <button>Send</button>
    </form>
  </body>
</html>